.pokemon {
    display: inline-block;
    text-align: center;
    border: 0.1rem solid grey;
    border-radius: 15%;
    margin: 0.3rem;
}

.pokemon img {
    display: block;
}

body {
    text-align: center;
}