<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <label for="name">Product Name:</label>
        <input id="name" type="text" name="name" placeholder="Product Name" value="<%= product.name %>"><br>
        
        <hr style="color: transparent;">
        <label for="price">Price (Unit):</label>
        <input id="price" step=".01" type="number" name="price" placeholder="Price" value="<%= product.price %>"><br>
        
        <hr style="color: transparent;">
        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
        </select>
        <button>Submit</button>
    </form>
    <hr style="color: transparent;">
    <a href="/products">Go Back To Main Page</a>
</body>
</html>