<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm</title>
</head>
<body>
    <h1>Add A Farm</h1>
    <form action="/farms" method="POST">
        <div>
            <label for="name">Farm Name:</label>
            <input id="name" type="text" name="name" placeholder="Farm Name">
        </div>
        <div>
            <label for="city">City:</label>
            <input id="city" type="text" name="city" placeholder="Farm City">
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" placeholder="Farm Owner Email">
        </div>
        
        <hr style="color: transparent;">
        <button>Submit</button>
    </form>
    <hr style="color: transparent;">
    <a href="/products">Go Back To Main Page</a>
</body>
</html>