<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>

<body>
    <h1><%= farm.name %></h1>
    <ul>
        <li><span>City: </span><b><%= farm.city %></b></li>
        <li><span>Email: </span><b><%= farm.email %></b></li>
    </ul>
    <a href="/farms">Go Back To All Farms</a>
</body>
</html>